parameters:

services:

    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Custom JWT login success handler to return refresh token
    App\Security\JWTLoginSuccessHandler:
        tags:
            - { name: 'lexik_jwt_authentication.handler.authentication_success' }
